.btn{
    border-radius: 5px;
    border:1px solid grey;
    background: #000000;
    outline: none;
    border: none;
    padding: 10px 16px;
    max-height: max-content;
    max-width: max-content;
    color: white;
    width: 100px;
    height: 50px;
    min-width: min-content;
    min-height: min-content;
    align-content: center;
    margin: 2px;
    text-transform: capitalize;
}


.btn-success{
    background: #0c9800 !important;
    border:none;
}

.btn-success:hover{
    background: #086308 !important;
        outline:1px solid #67d77a
}

.btn-primary{
    background: #216bf5 !important;
    border:none;
}

.btn-primary:hover{
    background: #184af0 !important;
        outline:1px solid #4c79f5
}

.btn-danger{
    background: #db332d !important;
    border:none;
}

.btn-danger:hover{
    background: #fa2e13 !important;
        outline:1px solid #f56d63
}